body{
    background:burlywood;
    text-align: justify;
    font-size: 18px;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    vertical-align: bottom;
    font-size: 30px;
    background-color: azure;
  }